.cursor-on-selected-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .cheese {
    cursor: none;
    width: 300px;

    &:hover + #cursor {
      display: block;
    }
  }

  #cursor {
    position: absolute;
    display: none;
    pointer-events: none;
  }

  .display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    font-size: 23px;
    width: 200px;
    margin-top: 30px;

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 0.8em;
      margin-top: 10px;
      min-width: 50px;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    transition: all 2.5s ease;

    ul {
      font-size: 0.8em;
      padding-left: 0;
      list-style: none;
      min-width: 250px;
    }
  }
}
