#root {
  font-family: Arial, sans-serif;
  .react-tabs {
    .demo.react-tabs__tab-panel--selected {
      margin-top: 10vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
